
<main class="shadow-lg bg-white p-2 m-2">
    <a href="/Admin/AddUser" class="btn btn-primary">Add a Cook or Cashier</a>
    <a href="/Leave/GetAbsenties" class="btn btn-primary">Approve Or Reject Leave</a>
    <a href="/Stock/StockReport" class="btn btn-primary">Stock Report</a>
    <div class="table-responsive w-100">
        <table class="table w-100" id="order">
            <thead>
                <tr>
                    <th>Order type</th>
                    <th>Items</th>
                    <th>Total amount</th>
                    <th>Date of order</th>

                </tr>
            </thead>
            <tbody class="emp">
            </tbody>
        </table>
        @*<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
                 aria-labelledby="modalTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitleId">
                                Modal title
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="popup">

                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</main>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<h1>Employee On Leave Today</h1>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>id</th>
            <th>User Name</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<h1>Employee On OverTime Today</h1>

<table class="table" id="overTimeTable">
    <thead>
        <tr>
            <th>id</th>
            <th>User Name</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<h1>Total Today Revenue</h1>
<p id="revenue-amount" class="fs-3"></p>


    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "ajax": {
                    "url": "/Admin/GetLeaveData",
                    "type": "GET",
                    "dataType": "JSON"
                },
                "columns": [
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            return meta.row + 1;
                        }
                    },
                    { "data": "Name", "autoWidth": true, "searchable": true }

                ]
            });

            $('#overTimeTable').DataTable({
                "ajax": {
                    "url": "/Admin/GetOvertimeData",
                    "type": "GET",
                    "dataType": "JSON"
                },
                "columns": [
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            return meta.row + 1;
                        }
                    },
                    { "data": "Name", "autoWidth": true, "searchable": true }

                ]
            });
            $.ajax({
                    url: '@Url.Action("GetRevenueData", "Admin")',
                    method: 'GET',
                    success: function(response) {
                        $('#revenue-amount').html(`Total Revenue: <i class="fas fa-rupee-sign"></i>` + response.data.toFixed(2));
                    },
                    error: function(error) {
                        console.log("Error fetching revenue data: ", error);
                    }
                });

        });



    </script>


@section scripts{
    <script>
        let table;

        $.ajax({
            url: "/Customer/Details",
            type: 'GET',
            success: function (data) {
                table = $("#order").DataTable({

                    data: data,
                    filter: true,

                    columns: [
                        {
                            data: "OrderType"
                        },
                        {
                            data: "Items"
                        },
                        {
                            data: "TotalAmount"
                        },
                        {
                            data: "DateOfOrder",
                            render: function (data) {

                                const timestamp = parseInt(data.match(/\d+/)[0]);

                                const date = new Date(timestamp);

                                const day = date.getDate().toString().padStart(2, '0');
                                const month = (date.getMonth() + 1).toString().padStart(2, '0');
                                const year = date.getFullYear();

                                const formattedDate = `${day}-${month}-${year}`
                                return formattedDate;

                            }

                        },


                    ]
                });
            }
        });





    </script>
}



