
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Task10.Models
@model List<DineInTable>


<main>
    <div class="container">
        <div class="text-center mt-2 mb-3">
            <h4>All Available Dinein table</h4>
        </div>

        <div class="mt-3 table-responsive">
            <table class="table table-bordered table-striped" id="MyReservedTable">
                <thead>
                    <tr>
                        <th>Table ID</th>
                        <th>Total No. Of Chairs</th>
                        <th>Can Be Reserved</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.TableId</td>
                            <td>@i.NoOFChairs</td>
                            <td>@i.CanBeReserved</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>


@section scripts{
    <link href="~/Scripts/DataTables-2.0.3/css/dataTables.dataTables.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables-2.0.3/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-2.0.3/js/dataTables.min.js"></script>
    <script>

        $("#MyReservedTable").DataTable();

    </script>
}

